.error-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 55px;
    margin-bottom: 35px;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

p {
    font-size: 20px;
}

.error-image {
    max-width: 400px; 
    margin-left: 50px; 
    flex-shrink: 0; 
}

.p1 {
    font-weight: bold;
}
