.bg-beige {
    background-color: #d0b49f;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.sidebar .nav-link {
    color: #495057;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 400;
}

.sidebar .nav-link:hover {
    color: #007bff;
    background-color: #d0b49f;
}

.sidebar .name {
    color: #FF6666;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}

.sidebar h1 {
    font-size: 20px;
    margin: 25px 0;
}

main {
    margin-left: 270px;
    padding: 20px;
}

body {
    background-color: #f8f9fa;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-control {
    border-color: #ced4da;
}

.alert {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}