* {
	box-sizing: border-box;
	
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #fcf9f2; 

}

.bandeau {
    background-color: #008000;
    color: #ffffff;
    font-family: Arial, sans-serif;
	font-size: 12px; 
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;

    
}


.logo-bar {
	display: flex;
	justify-content: space-evenly; 
	align-items: center;
	margin: 0; 
    padding: 0;
  }


  .d-flex {
	width: 700px;
  }


.menu{
	background-color: #fcf9f2;
}
  

#titre1 {
	color: #0000ff;
}